@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Bookstore";
}
@model BooksViewModel
<!--
Program Description: A program that displays books and allows for individuals to add them to their cart
Author: Madison Hoyt
Extra bootstrap: Stick-top to keep the categories on the side even when you scroll(Default.cshtml)
                 table-hover for extra bootstrap that changes the table row color when hovering over it (Purchase.cshtml)
-->
<!--List Books-->
@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b" />
}
<!--Pagination - pages-->
<div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
          page-class="btn" page-class-normal="btn-outline-dark"
          page-class-selected="btn-pink" class="btn-group pull-right m-1">
</div>
